<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Homework Submission App</title>

   <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

	<!-- Latest compiled and minified JavaScript -->
	
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

   </head>
  <body>
     <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">ID:</label>
        <input type="text" id="id" class="form-control" placeholder="Enter ID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="pwd" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <hr style="border:solid #9ab0aa 1px; display: block; width: 100%"/>
        <a data-toggle="modal" data-target="#myModal">Create an account</a>
      </form>
      <!--signup Modal-->
      <!-- Modal -->
  <div ng-app="myapp" ng-controller="AppCtrl" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a new account</h4>
        </div>
        <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
              <div class="radio">
               <label>
                  <input ng-model="name" ng-click="toggleSubject()" type="radio" name="SID" id="student" value="student" checked>Student
               </label>
            </div>
            <div class="radio">
               <label>
                  <input ng-model="name" ng-click="toggleSubject()" type="radio" name="TID" id="teacher" value="teacher">Teacher
               </label>
            </div>
           </div>
           <div class="form-group">
              <label for="firstname" class="col-sm-2 control-label">First Name</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control" id="firstname" 
                    placeholder="Enter First Name">
              </div>
           </div>
           <div class="form-group">
              <label for="lastname" class="col-sm-2 control-label">Last Name</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control" id="lastname" 
                    placeholder="Enter Last Name">
              </div>
           </div>
           <div class="form-group">
              <label id="identifier" for="id" class="col-sm-2 control-label">{{name}}</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control" id="id"
                 placeholder="Enter ID">
              </div>
           </div>
           <div class="form-group">
              <label for="lastname" class="col-sm-2 control-label">Address</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control" id="address" 
                    placeholder="Enter Address">
              </div>
           </div>
           <div ng-show="subject" class="form-group"></div>
           <div ng-hide="subject" class="form-group">
              <label for="name" class="col-sm-2">Select subject</label>
              <select class="form-control col-sm-10" >
                <option>Select a subject</option>
                 <option>Art</option>
                 <option>Biology</option>
                 <option>Computer Science</option>
                 <option>Chemistry</option>
                 <option>Geography</option>
                 <option>History</option>
                 <option>Law</option>
                 <option>Music</option>
                 <option>Physics</option>
              </select>
          </div>
           <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                 <div class="checkbox">
                    <label>
                       <input type="checkbox"> Remember me
                    </label>
                 </div>
              </div>
           </div>
          
        </form>
        </div>
        <div class="modal-footer">
          <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>

      <!--end signup Modal-->
    </div> <!-- /container -->
  <footer>
      <div class="footer container text-center">
          <p class="text-muted">&copy; Carolyn Hung 2015</p>    
      </div>
   </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <!-- Custom AngularJS for this template -->
    <script src="js/app.js" type="text/javascript"></script>
</html>
