<div class="jumbotron">
  <h2>Submission History</h2>
    <br/><br/>
    <div class="input-group col-lg-4">
        <input type="text" class="form-control" placeholder="Search..." id="search" name="search" ng-model="search">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>       
    <!--<div class="test" ng-app="myapp" ng-controller="HistoryCtrl" ng-repeat="x in submissions track by $index | filter:search">
      {{x}}

    </div>-->
    <div class="table-responsive">      
      <table class="table table-striped">   
        <thead>
          <tr>
            <th>#</th>
            <th>Submitter</th>
            <th>Homework</th>
            <th>Answer</th>
            <th>Last Submitted</th>              
          </tr>
        </thead>
        <tbody>
          <tr ng-app="myapp" ng-controller="HistoryCtrl" ng-repeat="x in submissions track by $index | filter:search">

            <td>{{ x.ans_id}} </td>
            <td>{{ x.stu_id }} </td>
            <td>{{ x.hw_id }} </td>
            <td>{{ x.answer }} </td>
            <td>{{ x.last_submit }} </td>
          </tr>
          
        </tbody>
      </table>
    </div><!--table-->
  </div><!--jumbotron-->