<div ng-app="stuapp" ng-controller="SubmitCtrl" ng-repeat="hw in homeworks1 track by $index" class="jumbotron">
      <h2>Submit a Homework</h2>
      <br/>
	
      <h5>1. Homework Information</h5>
          <label>Name:</label> <p name="{{hw.hw_name}}">{{hw.hw_name}}</p><br/> 
          <label>Description:</label> {{hw.hw_desc}}<br/> 
          <label>Due Date/Time:</label> {{hw.hw_due}} <br/> 
          <label>Student SID:</label> ch451r<br/> 
          <hr/>
           <h5>2. Answer:</h5>
		<form class="form-horizontal">
		  <div class="form-group">
		  	
		      <textarea name="answer" class="form-control" rows="3"></textarea>
		   </div>
		</form>

		<h5>3. Finish</h5>
           <p>Click Submit to submit<br/> 
              Click Cancel to go back
           </p>

         <a href="#/answer"><button action="insertAnswer.php" type="submit" class="btn btn-success pull-right">Submit</button></a>
          
          <a href="#/answer"><button type="button" class="btn btn-default pull-right">Cancel</button></a>
  
</div><!--jumbptron-->
